{% load static %}

<html lang="ru"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <title>Главная</title>
</head>
<body>


<header class="obj">
    <div class="container">
        <div class="obji">
            <nav class="point">
                <a class="pointl" href="{% url 'homePage' %}">Главная</a>
            </nav>
        </div>
    </div>
</header>


<div class="about">
    <div class="container">
        <div class="about__inner">
        </div>
    </div>
</div>


<div id="httpSpyContainer_sq27T8VFex4CtQ623afyMoiYA89kG6UZ" class="bottomRight noMargin noToolbar"></div></body></html>