{% load static %}

<html lang="ru"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <title>Главная</title>
</head>
<body>


<header class="obj">
    <div class="container">
        <div class="obji">
            <nav class="point">
                <a class="pointl" href="{% url 'homePage' %}">Главная</a>
            </nav>
        </div>
    </div>
</header>


<div class="menu">
    <div class="container">
        <div class="menu__inner">
        </div>
    </div>
</div>

